DB_URL=jdbc:postgresql://localhost:5432/dbname
DB_USERNAME=username
DB_PASSWORD=password
JWT_SECRET=your_jwt_secret_here
SERVER_PORT=8080
MAILER_PASSWORD=your_mailer_password
MAILER_USERNAME=your_email@gmail.com
MAIL_FROM=your_email@gmail.com
RESET_PASSWORD_COUNT=10
PASSWORD_RESET_BASE_URL=http://localhost:8080
VERIFICATION_BASE_URL=http://localhost:8080
PASSWORD_RESET_EXPIRY_HOURS=1
VERIFICATION_TOKEN_EXPIRY_HOURS=24
DEFAULT_ROLE_ID=2

